<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/plataformacurriculos/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-principal">
        <aside class="sidebar">
            <header class="sidebar-header">
                <div class="ugtsic-logo"><img src="../static/plataformacurriculos/imgs/ugtsic_logo.png" alt="Logo">
                </div>
            </header>

            <nav>
                <ul>
                    <div class="nav-item">
                        <img src="../static/plataformacurriculos/imgs/caneta_e_papel.svg" alt="caneta e papel">
                        <li><a href="#cvbuilder">CV Builder</a></li>
                    </div>

                    <div class="nav-item">
                        <img src="../static/plataformacurriculos/imgs/pilha_de_forms.svg" alt="Documentos empilhados">
                        <li><a href="#bancodecv">Banco de CV</a></li>
                    </div>
                </ul>
            </nav>

        </aside>

        <header class="main-header">
            <div class="header-content">
                <h1>Cadastro de Currículos</h1>
            </div>
        </header>

        <section class="cvbuilder">
            <div class="informacoes-pessoais">
                <h3 id="cvbuilder">CV Builder</h2>
            </div>
        </section>
    </div>
</body>

</html>