<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UGTSIC Currículos</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'plataformacurriculos/css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="container-principal">
    <aside class="sidebar">
      <header class="sidebar-header">
        <div class="ugtsic-logo">
          <img src="{% static 'plataformacurriculos/imgs/ugtsic_logo.png' %}" alt="Logo" />
        </div>
      </header>

      <nav>
        <ul>
          <div class="nav-item" data-url="{% url 'plataformacurriculos:curriculo' %}">
            <img src="{% static 'plataformacurriculos/imgs/caneta_e_papel.svg' %}" alt="caneta e papel" />
            <li><a href="{% url 'plataformacurriculos:curriculo' %}">Currículos</a></li>
          </div>

          <div class="nav-item" data-url="{% url 'plataformacurriculos:banco_de_cv' %}">
            <img src="{% static 'plataformacurriculos/imgs/pilha_de_forms.svg' %}" alt="Documentos empilhados" />
            <li><a href="{% url 'plataformacurriculos:banco_de_cv' %}">Banco de cv.</a></li>
          </div>
        </ul>
      </nav>
    </aside>

    <div class="main-container">
      <header class="main-header">
        <div class="header-content">
          <h1>Cadastro de Currículos</h1>
        </div>
      </header>

      <div class="main-container-forms">
        <form class="main-form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-title">
            <h2>Informações Pessoais</h2>
          </div>

          <div class="info-pessoal-form">
            <div class="form-group">
              <label for="primeironome">Primeiro nome</label>
              {{ form.primeironome }}
            </div>

            <div class="form-group">
              <label for="ultimonome">Último nome</label>
              {{ form.ultimonome }}
            </div>

            <div class="form-group">
              <label for="email">E-Mail</label>
              {{ form.email }}
            </div>

            <div class="form-group">
              <label for="telefone">Número de telefone</label>
              {{ form.telefone }}
            </div>
          </div>

          <div class="formacao-form">
            <div class="form-title">
              <h2>Formação</h2>
            </div>
            <div class="radio-form-group">
              {{ form.escolaridade }}
            </div>
          </div>

          <div class="form-title">
            <h2>Sobre a vaga</h2>
          </div>

          <div class="cargo-form">
            <div class="form-group">
              <label for="cargodesejado">Cargo desejado</label>
              {{ form.cargodesejado }}
            </div>

            <div class="form-group">
              <label for="observacoes">Observações</label>
              {{ form.observacoes }}
            </div>
          </div>

          <div class="form-title">
            <h2>Upload de currículo</h2>
          </div>

          <div class="curriculo-upload-form">
            <div class="form-group upload-form">
              {{ form.curriculo }}
              <div class="upload-text">
                <p>Clique no ícone para fazer upload do seu currículo</p>
              </div>
            </div>
          </div>

          <div class="submit-btn">
            <button type="submit">Enviar currículo</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</body>

</html>